__pycache__/
*.pyc
.env
.vscode/
*.DS_Store

# Virtual Environment
venv/
ENV/
env/

# ML Models & Data Artifacts
*.pkl
*.npy
*.joblib

# Streamlit
.streamlit/

# Jupyter Notebooks
.ipynb_checkpoints/
